:root{
--devColor: rgb(150, 13, 185);
}

body{
 
    background-color: rgb(43, 57, 69);
    width: 800%;
    padding: 0;
}

.player{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background-color: aliceblue;
}

#object{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-color: bisque;
}
#platform{
    position: re;
    display: block;
    width: 100%;
    height: 30px;
    background-color: var(--devColor);
}



.container{
    position: absolute;    
    background-color: rgb(39, 49, 58);
    width: 100%;
    height: 100%;
    z-index: 100;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.scenesList{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}
.sceneBox{
    position: relative;
    background-color: rgb(42, 52, 61);
    width: 20%;
    height: 20%;
    margin-left: 1rem;
}